APP_NAME="Laravel Boilerplate"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost
APP_PORT=8000

FRONTEND_URL=http://localhost:5173

APP_LOCALE=it
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=it_IT

APP_MAINTENANCE_DRIVER=cache
APP_MAINTENANCE_STORE=redis

BCRYPT_ROUNDS=12

LOG_LEVEL=debug
LOG_DAILY_DAYS=5

DB_CONNECTION=mariadb
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=laravel_tests
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=redis
SESSION_CONNECTION=default
SESSION_DOMAIN=null

QUEUE_CONNECTION=database

CACHE_STORE=redis
CACHE_DURATION=120

REDIS_HOST=localhost
REDIS_USER=default
REDIS_PASSWORD=null
REDIS_URL=/

SCOUT_DRIVER=Matchish\\ScoutElasticSearch\\Engines\\ElasticSearchEngine
ELASTICSEARCH_HOST=localhost:9200

# MAIL_MAILER=mailgun
# MAILGUN_DOMAIN=
# MAILGUN_SECRET=
# MAILGUN_ENDPOINT=
# MAIL_FROM_ADDRESS=
# MAIL_FROM_NAME="${APP_NAME}"

ENABLE_USER_REGISTRATION=false
ENABLE_USER_LICENSE=false
VERIFY_NEW_USER=false
ENABLE_DYNAMIC_ENTITIES=false
ENABLE_DYNAMIC_GRIDUTILS=false
EXPOSE_CRUD_API=false
FORCE_HTTPS=false

JWT_SECRET=