[submodule "Modules/Core"]
	path = Modules/Core
	url = https://github.com/swolley/laraplate-core.git
	pushurl = git@github.com:swolley/laraplate-core.git
[submodule "Modules/Cms"]
	path = Modules/Cms
	url = https://github.com/swolley/laraplate-cms.git
	pushurl = git@github.com:swolley/laraplate-cms.git
[submodule "Modules/AI"]
	path = Modules/AI
	url = https://github.com/swolley/laraplate-ai.git
	pushurl = git@github.com:swolley/laraplate-ai.git