[submodule "Modules/Core"]
	path = Modules/Core
	url = https://github.com/swolley/laraplate-core.git
	pushurl = git@github.com:swolley/laraplate-core.git
[submodule "Modules/CMS"]
	path = Modules/CMS
	url = https://github.com/swolley/laraplate-cms.git
	pushurl = git@github.com:swolley/laraplate-cms.git
[submodule "Modules/AI"]
	path = Modules/AI
	url = https://github.com/swolley/laraplate-ai.git
	pushurl = git@github.com:swolley/laraplate-ai.git
[submodule "Modules/ERP"]
	path = Modules/ERP
	url = https://github.com/swolley/laraplate-erp.git
	pushurl = git@github.com:swolley/laraplate-erp.git
[submodule "Modules/MES"]
	path = Modules/MES
	url = https://github.com/swolley/laraplate-mes.git
	pushurl = git@github.com:swolley/laraplate-mes.git
