includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:

    paths:
        - app/
        - tests/
        - Modules/
        - routes/
    
    scanFiles:
        - _ide_helper.php
        - _ide_helper_models.php
        - .phpstorm.meta.php

    # Level 9 is the highest level
    level: 2

    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Routing\\Route::name\(\).$#'
        - '#Call to an undefined method Illuminate\\Routing\\Route::withoutMiddleware\(\).$#'
        - '#Call to an undefined method Illuminate\\Routing\\Route::can\(\).$#'
        - '#Call to an undefined method Illuminate\\Routing\\Route::where\(\).$#'
        - '#Call to an undefined method Modules\\Core\\App\\Http\\Requests\\CrudRequest::isJson\(\).$#'
        - '#Call to an undefined method Modules\\Core\\App\\Http\\Requests\\CrudRequest::json\(\).$#'
        - '#Call to an undefined method Modules\\Core\\App\\Http\\Requests\\CrudRequest::getRealMethod\(\).$#'
        - '#Call to an undefined method Modules\\Core\\Grids\\Requests\\GridRequest::has\(\).$#'
        - '#Call to an undefined method Modules\\Core\\Grids\\Requests\\GridRequest::get\(\).$#'
        - '#Call to an undefined method Modules\\Core\\Grids\\Requests\\GridRequest::all\(\).$#'
        - '#Call to an undefined method Modules\\Core\\Grids\\Requests\\GridRequest::getMethod\(\).$#'
        - '#Call to an undefined static method Illuminate\\Database\\Eloquent\\Model::withTrashed\(\).$#'
        - '#Call to an undefined static method Illuminate\\Database\\Eloquent\\Model::getTimestampColumns\(\).$#'
        - '#Call to an undefined method Modules\\Core\Grids\\Casts\\GridRequestData|Modules\\Core\\Grids\\Requests\\GridRequest::getMethod\(\).$#'
        - '#Call to an undefined method Illuminate\\Http\\Request::getMethod\(\).$#'
        - 
          message: "#Called 'env' outside of the config directory which returns null when the config is cached, use 'config'.$#"
          identifier: larastan.noEnvCallsOutsideOfConfig
          path: Modules/*/config/*
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#

    checkModelProperties: true
    checkOctaneCompatibility: true
    noEnvCallsOutsideOfConfig: true
    checkModelAppends: true