.fi-body {
    background-image: url(https://raw.githubusercontent.com/swolley/images/refs/heads/master/swolley-1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

/* #region Sidebar */

aside {
    background-color: var(--gray-950);
}
.fi-sidebar-group-btn {
    background-color: var(--gray-900);
    border-radius: 0.5rem;
}
.fi-sidebar-nav-groups {
    row-gap: calc(var(--spacing)*3);
}

/* #endregion */



/* #region Tables */

.fi-ac-link-action {
    font-size: 0;
}

.fi-ac-link-action svg {
    font-size: 1rem;
}

/* #endregion */